:root {
	--bg-color: rgb(17, 17, 17);
	--text-color: rgb(194, 194, 194);
	--accent-color:rgb(204, 255, 0);
	--font-body: 'barlow', roboto;
	--font-heading: 'limelight', anton;
	--font-size: 1.2rem;
	--font-weight: 200;
	--line-height: 1.5;
	--spacing: 1rem;
}

html {
	font-size: var(--font-size);
	font-family: var(--font-body);
	line-height: var(--line-height);
	background-color: var(--bg-color);
	color: var(--text-color);
}

* + * {
	margin-block-start: var(--spacing);
}

header nav {
	position: fixed;
	inset-block-start: calc(var(--spacing)*2);
	inset-inline-start: calc(var(--spacing)*2);
	width: fit-content;
}

hgroup {
	margin-block: calc(var(--spacing)*10);
	margin-inline-end: calc(var(--spacing)*2);
	font-family: var(--font-heading);
	text-align: right;
	color: white;
}

hr {
	border: none;
	margin-block-start: calc(var(--spacing)*3);
	border-block-start: calc(var(--spacing)*0.7) solid;
	margin-inline-start: auto;
	margin-inline-end: var(--spacing);
	height: calc(var(--spacing)*0.7);

	font-size: calc(var(--font-size)*5);
	color: var(--accent-color);
	text-align: right;
}

hr::after {
	background: var(--bg-color);
	content: "Type";
	padding: 0 var(--spacing);
	position: relative;
	top: calc(var(--spacing)*-5);
}

header p {
	margin-block-end: calc(var(--spacing)*0.2);
}

h2 {
	font-size: calc(var(--font-size)*2);
	font-weight: 800;
	color: var(--text-color);
	margin-block-start: 0;
}

a {
	text-decoration: underline;
	color: var(--text-color);
}

article {
	max-inline-size: 70ch;
}

blockquote {
	color: var(--bg-color);
	font-family: var(--font-heading);
	font-size: calc(var(--font-size)*1.3);
	background-color: var(--accent-color);
	border-radius: 0.3rem;
	padding-block: calc(var(--spacing)*1.5);
	padding-inline: calc(var(--spacing)*3);
	margin-block: calc(var(--spacing)*3);
	margin-inline: calc(var(--spacing)*2);
}

blockquote:first-of-type {
	color: var(--text-color);
	font-family: var(--font-body);
	font-weight: calc(var(--font-weight)*2.5);
	background-color: transparent;
	border-radius: 0;
	padding-block: 0;
	border-inline-start: calc(var(--spacing)/4) solid var(--accent-color);
	padding-inline-start: var(--spacing);
	margin: calc(var(--spacing)*3);
}

blockquote cite {
	color: var(--bg-color);
	display: block;
	font-weight: 300;
	font-style: italic;
	font-family: var(--font-body);
	font-size: calc(var(--font-size)*0.8);
	margin-top: var(--spacing);
}

cite a {
	color: var(--bg-color);
}

em {
	font-style: italic;
}

dfn {
	font-style: italic;
}

kbd {
	border-radius: calc(var(--spacing)*0.3);
	padding-inline: calc(var(--spacing)*0.2);
	padding-block: calc(var(--spacing)*0.2);
	border: calc(var(--spacing)*0.1) solid #a9a9a9;
}

strong {
	font-weight: 600;
}

mark {
	background-color: var(--accent-color);
	color: var(--bg-color);
	padding-inline: calc(var(--spacing)*0.1);
	padding-block: 0;
}

footer{
	color: var(--text-color);
	font-size: calc(var(--font-size)/1.5);
	padding-block: calc(var(--spacing)*2);
	padding-inline: calc(var(--spacing)*2);
}

#website-start {
	margin-inline-start: auto;
}

#article {
	margin-inline-start: calc(var(--spacing)*9);
}

#response {
	color: var(--text-color);
	margin-inline-end: calc(var(--spacing)*5);
	margin-inline-start: auto;
	padding-block: calc(var(--spacing)*5);
}

.header-wrapper {
	display: flex;
}

.main-nav {
	font-size: calc(var(--font-size)*0.7);
}

.main-nav li {
	padding: calc(var(--spacing)*0.7);
	margin-block-end: var(--spacing);
	background-color: var(--bg-color);
	border-radius: 3rem;
	border: 0.1rem solid var(--accent-color);

	text-align: center;
}

.main-nav a {
	color: var(--text-color);
	text-decoration: none;
	display: block;

	transition: color 0.4s ease-in-out;
}

.main-nav a:hover {
	color: var(--accent-color);
}

.title-top {
	display: block;
	font-size: 10rem;
	text-align: right;
	line-height: calc(var(--line-height)/2);
}

.lead-sentence {
	display: block;
	margin: calc(var(--spacing)*2);
	font-size: calc(var(--font-size)*1.2);
}

.lead-sentence dfn {
	color: var(--accent-color);
}

.author {
	color: #626262;
	font-size: calc(var(--font-size)*0.8);
}

.og-article-author {
	font-size: calc(var(--font-size)*0.8);
	margin-block-start: var(--spacing);
	margin-block-end: calc(var(--spacing)*3.5);
	border: 0.05rem solid #a9a9a9;
	border-radius: 0.8rem;
	padding: calc(var(--spacing)*2);
}

.about-author {
	font-size: calc(var(--font-size)*0.6);
}

.og-article-link {
	font-size: calc(var(--font-size)*0.6);
}

.sub-title {
	color: var(--accent-color);
	opacity: 0.5;
}

.highlight-text {
	color: var(--accent-color);
}

#back-to-top {
	display: block;
	background-color: var(--accent-color);
	color: var(--bg-color);
	inline-size: max-content;
	padding-inline: var(--spacing);
	border-radius: 0.8rem;
	position: fixed;
	inset-block-end: calc(var(--spacing)*2);
	inset-inline-end: calc(var(--spacing)*2);
}
